/*	Navbar */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Tagesschrift&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

a{
	color: black;
	text-decoration: none;
}
nav{
	width: 100%;
/*	background: #f3f1c9;*/
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid black;
	z-index: 2;
	background: #2b91f6;
}
nav .logo{
	font-size: 35px;
	font-weight: 200;
text-transform: capitalize;
	/* font-family: sans-serif;
	font-family: "Tagesschrift", system-ui; */
  font-weight: 400;
  font-style: normal;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}
nav ul{
	display: flex;
/*background: #f3f1c9;*/
background: #2b91f6;
}
nav ul li{
	border: 0;
}

nav ul li a{
	padding: 10px 15px;
	display: block;
	border: 0;
	color: white;
text-align: center;
font-size: 22px;
border-radius: 5px;
}
nav ul li a:hover , nav ul li a:active{
	background: rgba(0, 0, 0, 0.2);
	/* color: #2b91f6; */
}

nav ul li a b{
	font-size: 25px;
}
nav ul li a:hover b{
	display: none;
}
nav  .toggleMenu {
	border: 0;
	font-size: 18px;
	padding: 5px ;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
  display: none;
}

@media screen and (max-width:768px){
  nav ul{
  	width: 100%;
  	flex-direction: column;
  	position: absolute;
  	top: 88px;
  	left: 0;
  	padding: 20px;
  	text-align: center;
  	display: none;
  	border: 1px solid black;
  }

  nav .toggleMenu{
  	display: block;
  	color: #2b91f6;
  }
  .active{
  	display: flex;
  }
  nav ul li a{
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  }
  
    nav ul li a b , nav ul li a:hover b{
 display: block;
 padding: 5px;
 font-size: 28px;
    }


}

/*Home */

.slider-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100vh;
    }

    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;
    }

    .slide {
      flex: 0 0 100%;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: fill;
	  /* object-fit: contain;
	  object-fit: cover; */
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
	  width: 100%;
    }

    .content {
      z-index: 1;
      text-shadow: 2px 2px 10px black;
      text-align: center;
	  background-color: rgba(0, 0, 0, 0.3);
	  padding: 20px 40px;
	  border-radius: 15px;
    }

    .nav-buttons {
      position: absolute;
      width: 100%;
      top: 50%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      padding: 0 20px;
      z-index: 2;
    }

    .nav-buttons button {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }

    /* hr  */
	hr{
	width: 70px;
	/* border: 2px solid #04cfb0; */
	border: 2px solid #2b91f6;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px ;

}
	/* Main  */
.main h1{
	text-transform: capitalize;
	font-size: 50px;
	padding-bottom: 10px;
	 font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.main h3{
	font-size: 30px;
	/* padding: 20px; */
	/* padding-bottom: 20px; */
	font-weight: bold;
color: white;
/* background-color: rgba(0, 0, 0, 0.5); */
text-shadow: 0px 1px 1px black;
border-radius: 10px;
}
.main button{
	padding: 14px 35px;
	margin: 20px;
	text-transform: uppercase;
	background:  #2b91f6;
	border: 2px solid #2b91f6;
	border-radius: 30px;
	/* border: 0; */
	cursor: pointer;
	font-weight: bold;
	color: white;
	word-spacing: 4px;
	letter-spacing: 1px;
}
.main button:hover{
	background: transparent;
}
@media screen and (max-width:768px){
	 .main h1{
		font-size: 30px;
	 }
	 .main h3{
		font-size: 20px;
	 }
}

/*About */
.about{
	width: 100%;
	height: auto;
	padding: 20px;
	/* background: #0eda34; */
}
.about > h1{
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	/* font-family: "Tagesschrift", system-ui; */
  font-weight: 400;
  font-style: normal;
  color: #2b91f6;
  text-transform: uppercase;
}
.about hr{
	width: 70px;
	/* border: 2px solid #04cfb0; */
	border: 2px solid #2b91f6;
	text-align: center;
	/* margin: 0 auto; */
	margin-bottom:10px ;
	color: #04cfb0;

}
/*about-container */
.about-container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	/* display: grid;
	gap: 20px;
	grid-template-columns: repeat(autofit, minmax(400px, 1fr)); */
}
.about-container .social-icons{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* border: 2px dotted #2b91f6; */
}
.about-container .social-icons a{
		padding: 10px;
		border-radius: 5px;
}
.about-container .social-icons a:hover{
	background-color: #2b91f6;
}
.about-container .social-icons i{
	font-size: 30px;
	color: #2b91f6;
}
.about-container .social-icons a:hover i{
	color: white;
}
.about-container img{
	/* width: 450px;
	height: 400px; */
	object-fit: cover;
	/* margin-bottom: 20px; */
}
/*about-content */
.about-content{
	width: 50%;
	text-align: left;
	/* padding: 20px ; */
}
.about-content h1{
	font-size: 30px;
	padding-bottom: 20px;
	font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
/*  color: #04cfb0;*/
  color : #2b91f6;
}
.about-content p{
	font-size: 20px;
	padding-bottom: 20px;
	/* padding-right: 40px; */
	line-height: 25px;
	text-align: justify;
}

.about-content .btn1, .about-content .btn2:hover, .about-content .btn2{
	color: white;
	background: #2b91f6;
	border: 1px solid #2b91f6;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	margin: 10px;

}
.about-content button:hover, .about-content .btn2{
	background: transparent;
	color: #2b91f6;
}


@media screen and (max-width:768px){
	.about-container{
		flex-direction: column;
		align-items: center;
	}
	.about-container img{
		width: 100%;
		height: auto;
	}
	.profile{
		width: 100%;
	}
	.about-content{
		width: 100%;
		padding: 10px;
	}
	.about-content h1{
		padding-top: 20px;
	}
	.about-content p{
		padding-right: 0;
	}
	.about-content .btn-container{
		display: flex;
		flex-direction: column;
	}
	
}

/*skill */
.skill{
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #00a6ff;
}
.skill > h2 {
	font-size: 40px;
 text-align: center;
 padding: 20px;
 /* font-family: "Tagesschrift", system-ui; */
  font-weight: 400;
color:white;
}
 .skill hr{
 	width: 70px;
	border: 2px solid #f1f1f1;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
 }

.skill > p {
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 20px;
}
/*skill-container */
.skill-container{
	/* background-color: rgb(234, 233, 233); */
	/* padding: 20px; */
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-columns: auto-fit;
	justify-content: center;
	align-items: center;
}
.skill-box{
	padding: 20px;
	background-color: white;
	/* box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.2); */
	border-radius: 10px;
	text-align: center;
	color: #00a6ff;
}
.skill-box:hover{
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	
}
.skill-box p{
	font-size: 22px;
	padding-bottom: 10px;
	font-weight: bold;
}

.skill-box i{
	font-size: 100px;
	/* color: #00a6ff; */
	margin-bottom: 10px;
}
.html:hover {color: rgb(255, 153, 0);}
.css:hover {color: rgb(0, 60, 255);}
.js:hover {color: rgb(255, 225, 0);}
.react:hover {color: rgb(0, 225, 255);}
.java:hover {color: red;}
.database:hover {color: rgb(4, 95, 165);}
.wordpress:hover {color: rgb(0, 170, 226);}
.seo:hover {color: rgb(134, 135, 136);}

/* experience  */

.experience{
	width: 100%;
	background-color: rgb(213, 211, 211);
	padding: 20px;
}
.experience h1{
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.experience-container{
	/* padding: 20px 10px; */
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.experience-box{
	padding: 20px;
	background-color: white;
	border: 20px solid #8bd2f8;
}
.experience-box:hover{
	background-color: #00a6ff;
	color: white;
	cursor: pointer;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
.experience-box h1{
	font-size: 25px;
}
.experience-box p{
	font-size: 18px;
	text-align: center;

}
/* portfolio  */
.portfolio{
	padding: 20px;;
}
.portfolio h1{
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	color: #00a6ff;
}
.portfolio-container{
/* padding: 20px; */
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.portfolio-box{
	/* background-color: rgb(141, 137, 137); */
	border: 1px solid black;
	border: 1px solid #00a6ff;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}
.portfolio-box:hover{
		box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 20px 1px #00a6ff;
}
.portfolio-box img{
	/* margin-top: -10px; */
 width: 100%;
 height: 225px;
 object-fit: cover;
 object-fit: contain;
 object-fit: fill;
}
.portfolio-content{
	padding: 20px;
}
.portfolio-box h2{
	font-size: 24px;
	margin-bottom: 10px;
	color: #00a6ff;
}
.portfolio-box p{
	font-size: 18px;
	margin-bottom: 10px;
}
.portfolio-box button{
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid grey;
	border: 1px solid #00a6ff;
	background-color: transparent;
	color: #00a6ff;
	
}
.portfolio-box button:hover{
	cursor: pointer;
	border: 1px solid #00a6ff;
	background-color: #00a6ff;
	color: white;
}
/* Contact  */
.contact{
	border: 1px solid #00a6ff;
	padding: 20px;
}
.contact h1{
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
	/* color: #00a6ff; */
	/* color: #000; */
}
.contact hr{
	margin-bottom: 20px;
	color: #000;
	border-color: black;
}
.contact-container{
	display: grid;
	width: 100%;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding: 20px;
}

/* contact-info  */
.contact-info{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px 0;
}
.contact-info-box{
padding: 20px 10px;
background-color: #00a6ff;
color: white;
display: flex;
align-items: center;
gap: 20px;
}
.contact-info-box span{
	font-size: 17px;
}
.contact-info-box i{
	background-color: white;
	color: #00a6ff;
	padding: 10px;
	font-size: 20px;
	border-radius: 2px;
	border: 1px solid black;
}

/* contact form  */
.contact-form{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;
	/* justify-content: center; */
}
.contact-form iframe{
	width: 95%;
	height: 95%;
	
}
.contact-form form{
	width: 100%;
	height: auto;
	/* background-color: #00a6ff; */
	color: white;
	color: black;
	padding: 20px;
}
form label{
	font-size: 20px;
}
form input, form textarea{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	/* border: none; */
	border-radius: 5px;
}
form textarea{
	height: 100px;
}
form input[type="submit"]{
	color: white;
	background-color: #00a6ff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: none;
}
.contact-form h2{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}



@media screen and (max-width: 768px) {
	.contact-form{
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact-form iframe{
	width: 100%;
	height: 250px;
}
}


/*footer */
footer{
	background-color: #00a6ff;
	color: white;
	padding-top: 20px;
}
footer h1{
	font-size: 22px;
	margin-bottom: 20px;
}
footer h2{
	font-size: 20px;
	margin-bottom: 20px;
}
footer ul{
	font-size: 18px;	
}
footer ul li{
	margin-bottom: 10px;
	
}
footer ul li a {
	color: white;
}
footer ul li a:hover {
	color: black;
}
.links{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	/* padding: 20px; */
	
}
.links div{
	text-align: center;
	padding: 10px;
}

footer img{
	width: 100px;
	height: 100px;
	margin: auto;
}

@media screen and (max-width: 800px) {
	.links{
	grid-template-columns: 1fr;
}
footer ul{
	font-size: 16px;	
}
}
.copyright{
	text-align: center;
	padding: 15px;
	background-color: white;
	color: black;
}